<div class="container mt-5">
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        {{mode}} Service Order
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Service Order</label>
          <div class="col-sm-10">
            <div class="form-control">{{serviceOrder.serviceOrderNo}}</div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <div class="form-control">{{serviceOrder.description}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-10">
            <select [(ngModel)]="serviceOrder.status" class="form-control" id="status">
              <option selected>Choose...</option>
              <option value="0">Open</option>
              <option value="1">In Process</option>
              <option value="2">Hold</option>
              <option value="3">Close</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-2">
          </div>
          <div class="col-12 col-md-12">
            <div class="card">
              <div class="card-header">
                Qustion
              </div>
              <div class="card-body">

                <ng-container *ngFor="let question of questionList">
                  <ng-container *ngIf="question.answerTypeId === 1">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="inputEmail4">{{question.name}}</label>
                        <div class="form-control">{{answerText(question.id)}}</div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="question.answerTypeId === 2">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label>{{question.name}}</label>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <div *ngFor="let answer of question.templateServiceOrderAnswer">
                          <mat-radio-group (change)="setAnswerOne(question.id, $event)"
                            [ngModel]="answerOne(question.id)">
                            <mat-radio-button disabled [value]="answer.id">{{answer.answer}}</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="question.answerTypeId === 3">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label>{{question.name}}</label>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <div *ngFor="let answer of question.templateServiceOrderAnswer">
                          <mat-checkbox disabled [ngModel]="answerMany(question.id, answer.id)"
                            class="example-margin mr-2">
                            {{answer.answer}}
                          </mat-checkbox>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Upload Image</label>
          <div class="col-sm-10">
            <div class="custom-file">
              <input type="file" class="custom-file-input" (change)="handleFileInput($event.target.files)" multiple
                accept="image/png, image/jpeg" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose
                file</label>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let image of serviceOrder.serviceOrderImage">
          <div class="row form-group mb-2">
            <div class="col-1 vertical-center text-right">
              <span class="mr-2"><i class="fas fa-camera-retro"></i></span>
            </div>
            <div class="col-8 col-md-10 vertical-center overflow">
              {{image.imagePath}}
            </div>
            <div class="col-1  text-right ">
              <button type="button" (click)="deleteImg(image.imagePath)" class="btn btn-danger btn-sm"><i
                  style="font-size: 8px;" class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </ng-container>
        <hr>
        <div class="form-group row">
          <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">Customer Signature</label>
          <div class="col-sm-8 text-center">
            <div class="signature-pad">
              <div class="signature-pad--body">
                <canvas #sPad height="200"
                  style="touch-action: none; background-color: honeydew; max-width: 280px; max-height: 200px;"></canvas>
              </div> 
        </div>
      </div> -->
          <div class="col-sm-12  clo-12 text-right">
            <button class="btn btn-danger" (click)="clear()">Clear</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <canvas #sPad width="280" height="200"
              style="touch-action: none; background-color: honeydew; max-width: 280px; max-height: 200px; min-width: 280px; min-height: 200px;"></canvas>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button type="button " (click)="seve()" class="btn  btn-success mr-2">Save</button>
            <button type="button" class="btn  btn-danger" [routerLink]="['/service-order/technician']">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div>
    <button (click)="compressFile()">Upload and compress Image</button>
    <img *ngIf="imgResultBeforeCompress" [src]="imgResultBeforeCompress" alt="">
    <img *ngIf="imgResultAfterCompress" [src]="imgResultAfterCompress" alt="">
  </div> -->

</div>