<div class="container mt-5">
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        Export Project
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="form-group row">
              <label class="col-sm-12 col-md-2 col-form-label">ชื่อโครงการ</label>
              <label class="col-md-10 col-sm-12 col-form-label">{{project.name}}</label>

            </div>
            <div class="form-group row">
              <label class="col-sm-12 col-md-2 col-form-label">ใบสั่งงาน</label>
              <div class="col-md-10 col-sm-12">
                <!-- <select [(ngModel)]="imageLength" class="form-control">
                  <option *ngFor="let item of [].constructor(numberDisplay); let i = index" [value]="i + 1">{{i + 1}}
                  </option>
                </select> -->
                <!-- <select (change)="getImg($event.target.value)" class="form-control">
                  <option value="All">ทั้งหมด</option>
                  <option *ngFor="let item of serviceOrders; let i = index" [value]="item.id">{{item.serviceOrderNo}}
                  </option>
                </select> -->

                <section class="example-section" style="padding-top: 8px;">
                  <ng-container *ngFor="let item of serviceOrderCheckboxItem">
                    <mat-checkbox [(ngModel)]="item.checked" (ngModelChange)="getImg(item.serviceId)"
                      class="example-margin mr-3">{{item.name}}</mat-checkbox>
                  </ng-container>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <!-- <button type="button" class="btn btn-success mr-2">Save</button> -->
                <button type="button" (click)="download()" class="btn btn-primary mr-2">Export</button>
                <button type="button" class="btn btn-danger" [routerLink]="['/project']">Cancel</button>
              </div>
            </div>
            <h4>ดูตัวอย่าง</h4>
            <div class="row" id="contentToConvert">
              <div class="col">
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                    <div class="row mb-3" *ngIf="isDataAvailable">
                      <ng-container *ngFor="let item of serviceOrderImage;let  i=index">
                        <div class="col-sm-12 col-md-6 text-center  mb-3">
                          <p>{{item.imagePath}}</p>
                          <img id="{{item.id}}" src="{{baseUrl + item.imagePath}}" style="width:300px;  height:226px;"
                            class="img-fluid" alt="Responsive image">
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>