<div class="add-form">
  <div mat-dialog-content>
    <div class="row">
      <div class="col">
        <h4>Add Question</h4>
      </div>
    </div>
    <div class="form-group row mt-2">
      <label for="question" class="col-sm-3 col-form-label">Question</label>
      <div class="col-sm-9">
        <input [(ngModel)]="question.name" type="text" class="form-control" id="question">
      </div>
    </div>
    <div class="form-group row">
      <label for="answerType" class="col-sm-3 col-form-label">Answer Type</label>
      <div class="col-sm-9">
        <select [(ngModel)]="question.answerTypeId" class="form-control" id="answerType">
          <option selected>Choose...</option>
          <option value="1">One Chaoice</option>
          <option value="2">Many</option>
        </select>
      </div>
    </div>
    <div class="form-group row" *ngFor="let item of question?.templateServiceOrderAnswer; let i = index">
      <label for="choice" class="col-sm-3 col-form-label">Choice {{i + 1}}</label>
      <div class="col-sm-9">
        <input type="text" [(ngModel)]="item.answer" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <a (click)="addChoice()" class="add-choice-btn">+</a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col text-center">
        <button type="button " class="btn  btn-success mr-2" [mat-dialog-close]="question" cdkFocusInitial>Save</button>
        <button type="button" class="btn  btn-danger" (click)="onNoClick()">Cancel</button>
      </div>
    </div>
  </div>
</div>